@import "./variables";

html,body{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.header-bg{
	background: url("./../img/header-404.png"), rgba(40, 35, 61, 1);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo-404{
	padding: 3% 0;
	max-width: 457px;
}
.error-bg{
 	background: rgba(40, 35, 61, 1) ;
	background-repeat: no-repeat;
	background-size: cover;
}

.error{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	height: auto;
	&-logo{
		margin-top: 25px;
		margin-bottom: 170px;
		width: 100%;
		max-height: 100%;
	}
	&-box{
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		img{
			max-width: 80%;
			max-height: 100%;
		}
		&-text{
			@include fonts($poppins, 90px, 700, 99px, rgba(255, 250, 243, 1));
			margin: 52px 0 40px 0;
			text-align: center;
		}
	}
	
}
.footer-rights-404{
		@include fonts($roboto, 16px, 400, 25px, rgba(185, 185, 185, 1));
		margin: 0;
		text-align: center;
	}
.footer-bg{
	margin: 0;
	padding-top: 8%;
	padding-bottom: 1px;
	background: url('./../img/footer-404.png'), rgba(40, 35, 61, 1);
	background-repeat: no-repeat;
	background-size: cover;
}